{% extends "base.html" %}
{% block content %}

    <div class="container text-center">
    <div class="box">
        <div>
            Hello! &#128515; I'm a junior backend developer!
            <br>
            This is a simple demo portfolio page I made to practice the basics of Flask. &#129299;
        </div>
        <br><br>
        <div>
            Technologies I know:
            <div class="row">
            <div class="col">
                <div>
                    Backend:
                </div>
                <img src="../static/img/spring.svg">
                <img src="../static/img/flask.svg">
                <img src="../static/img/java.svg">
                <img src="../static/img/nestjs.svg">
                <img src="../static/img/python.svg">
            </div>
            <div class="col">
                <div>
                    Frontend:
                </div>
                <img src="../static/img/angular_.svg">
                <img src="../static/img/bootstrap.svg">
                <img src="../static/img/css3.svg">
                <img src="../static/img/html5.svg">
                <img src="../static/img/thymeleaf.svg">
                <img src="../static/img/typescript.svg">
                <img src="../static/img/javascript.svg">
            </div>
            <div class="col">
                <div>
                    Databases:
                </div>
                <img src="../static/img/mysql.svg">
                <img src="../static/img/postgres.svg">
            </div>
            </div>
        </div>
        </div>
    </div>

{% endblock %}