{% extends "base.html" %}
{% block content %}

    <div class="container text-center">
        <div class="box">
            <p class="text-title">Here are some of the projects I wish I had worked for</p>
            <hr>
            <div class="row">
                <div class="col game-img">
                    <a href="https://www.mariowiki.com/Super_Mario_%28form%29">
                        <img src="../static/img/NSMBUD_Mariojump.png" width="200" height="200">
                    </a>
                </div>
                <div class="col game-img">
                    <a href="https://www.mariowiki.com/Sonic_the_Hedgehog">
                        <img src="../static/img/Sonic_SSBU.png" width="200" height="200">
                    </a>
                </div>
                <div class="col game-img">
                    <a href="https://www.mariowiki.com/Link">
                        <img src="../static/img/LinkSSBU.png" width="200" height="200">
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}